@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Fjord+One&display=swap');

*{
    margin: 0;
    padding: 0 ;
}


:root{
    --platina: #e7ecefff;
    --azul-crepúsculo: #274c77ff;
    --azul-aço: #6096baff;
    --azul-gelo: #a3cef1ff;
    --titulo: 'Fjalla One', serif; 
    --texto: 'Fjord One', serif;
}
body{
    background: var(--azul-gelo);
    font-family: var(--texto);
}
header{
    background-color: var(--azul-aço) ;
    display: flex;
    justify-content: space-around;
    color: var(--azul-crepúsculo);
}
.menu{
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 10px;
    text-transform: uppercase;
    font-size: 25px;
}
.img-capa{
    width: 100%;
    height: 120%;
}
.conteudo{
    margin: 30px;
    border: 2px solid var(--azul-crepúsculo);
    padding: 30px;
    text-align: center;
}
.conteudo-titulo{
    font-family: var(--titulo)
    font-size: 24px;
    padding-botton: 20px ;
    color: var(--platina);
}
.conteudo-texto{
    font-family: var(--texto);
    font-size: 14px;
}