@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Fjord+One&display=swap');

:root{
    --platina: #e7ecefff;
    --azul-crepúsculo: #274c77ff;
    --azul-aço: #6096baff;
    --azul-gelo: #a3cef1ff;
    --titulo: 'Fjalla One', serif; 
    --texto: 'Fjord One', serif;
}
body{
    background: var(--azul-gelo);
    font-family: var(--texto);
}
header{
    background-color: var(--azul-aço) ;
    display: flex;
    justify-content: space-around;
    color: var(--azul-crepúsculo);
}